.footer-banner-slide {
    position: relative;
    margin-top: 4rem;
    will-change: transform;
    opacity: 1;
    transition: transform 2.2s cubic-bezier(0.77,0,0.18,1);
}
.footer-banner-slide.slide-up {
    transform: translateY(0);
}
.footer-banner-slide.slide-down {
    transform: translateY(120px);
}


.footer-banner-live {
    position: relative;
    margin-top: 4rem;
    will-change: transform;
    opacity: 1;
}
.footer-banner-bg {
    width: 100vw;
    height: 38vh;
    min-height: 320px;
    max-height: 550px;
    background: var(--bg-color, #101010);
    background-image: url('/assets/footer-banner.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}


.footer-row {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    padding: 0 2rem 2rem 2rem;
    box-sizing: border-box;
}

.footer-left    { justify-self: start; }
.footer-center  { justify-self: center; }
.footer-right   { justify-self: end; display: flex; gap: 1rem; }

.footer-center button, .footer-right a {
    background-color: #ffffff41;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.footer-copyright,
.footer-link span,
.back-to-top {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
    border: none;
}

.back-to-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}
.back-to-top:hover { transform: translateY(-2px); }
.scroll-arrow {
    width:  32px;
    height: 32px;
    transition: transform 0.3s ease;
}
.back-to-top:hover .scroll-arrow { transform: translateY(-3px); }

.footer-link {
    color: #fff;
    font-size: 0.975rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-link:hover { color: var(--special-color, #ff014f); transform: translateY(-2px); }

.redirect-arrow {
    width:  24px;
    height: 24px;
    transition: transform 0.3s ease;
}
.footer-link:hover .redirect-arrow { transform: translate(2px, -2px); }
