
@media (max-width: 768px) {
    .hero-container, .about-content, .experience-grid, .projects-grid {
        grid-template-columns: 1fr;
    }
    section {
        padding: 3rem 1.5rem !important;
    }
    .section-title {
        font-size: 2rem;
    }

    .hero { margin: 65px 0 0 0; }
    .hero-title { font-size: 2rem; }
    .hero-badge { width: 90%; }
    .badge-inner { width: 65%; height: 65%; top: 17.5%; left: 17.5%; }


    .footer-right, .footer-center { display: none; }
    .footer-copyright { font-size: 1.2rem; }
    .footer-row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-left {
        justify-self: center;
        align-self: center;
    }

    /* about section */
    .about-logo img{ width: 100%; }
}

@media (max-width: 480px) {
    section {
        padding: 2rem 1rem !important;
    }
    .section-title {
        font-size: 1.5rem;
    }

    .hero { margin: 65px 0 0 0; }
    .hero-title { font-size: 2rem; }
    .hero-badge { width: 90%; }
    .badge-inner { width: 65%; height: 65%; top: 17.5%; left: 17.5%; }


    .form-row {
        grid-template-columns: 1fr;
    }
    .tech-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-right, .footer-center { display: none; }
    .footer-copyright { font-size: 1.2rem; }
    .footer-row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-left {
        justify-self: center;
        align-self: center;
    }

    .about-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* about section */
    .about-logo img{ width: 100%; }
}
